{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<nav class="navbar navbar-light bg-light shadow-sm">
		<div class="container-lg">
			<a class="navbar-brand text-primary fw-bold fs-4" href="#">C.G</a>

			<div class="nav-item dropdown">
				<button class="nav-link btn btn-secondary  px-3" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					<i class="fas fa-bars"></i>
				</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="{{ path('home.index')}}">Accueil</a>

					<a class="dropdown-item" href="#about">A propos</a>
					<a class="dropdown-item" href="#services">Prestations</a>


					<a class=" dropdown-item" href=" {{ path('app_project_indexsymfony')}} ">Symfony</a>
					<a class="dropdown-item" href="{{ path('app_project_indexangular')}}">Angular</a>
					<a class="dropdown-item" href="{{ path('app_project_indexwordpress')}}">Wordpress</a>
					<a class="dropdown-item" href="#testimonials">Témoignages</a>


					<a class="dropdown-item" href="{{ path('app_contact_new')}}">Me Contacter</a>


					{# <div class="dropdown-divider"></div>
																																																																																																																						<a class="dropdown-item" href="#">Separated link</a> #}
				</div>
			</div>
		</div>
	</nav>

	<!-- Portfolio Start -->
	<section class="home py-5" id="home">
		<div class="container-lg">
			<div class="row min-vh-100 align-items-center align-content-center">
				<div class="col-md-6 mt-5 mt5-md-0">
					<div class="home-img text-center">
						<img src="{{ asset('assets/images/profile.JPG')}}" alt="profile img" class="rounded-circle mw-100">
					</div>
				</div>
				<div class="col-md-6 mt-5 mt5-md-0 order-md-first">
					<div class="home-text">
						<p class="text-primary mb-1">Bonjour je suis</p>
						<h2 class="fs-4 text-primary">
							Cyril Gourdon</h2>
						<h1 class="text-secondary text-uppercase fs-1 fw-bold">Développeur Back-End Symfony-Angular</h1>
						<p class="mt-4 text-muted">
							Ma formation professionnelle a toujours été guidée par le goût des sciences et des mathématiques, c'est pourquoi j'ai achevé la formation "Développeur web et web mobile". Mon parcours montre que je suis à l'aise au contact des gens. Je suis sensible au respect des demandes de mes clients sous forme de cahier des charges. Je recherche toujours leur satisfaction en respectant la qualité du travail , les délais et la maîtrise des coûts. Mes nombreuses expériences, en France comme à l'international, dans l'industrie chimique et mécanique, dans l'artisanat et le professorat m'ont rendu à l'aise et réactif dans de nombreuses situations.</p>

						<a href="{{ path('app_project_indexsymfony')}}" class="btn btn-secondary px-3 mt-3">Mon travail</a>


					</div>
				</div>

			</div>
		</div>
	</section>

	<!-- about section start -->
	<section class="about bg-white py-5" id="about">
		<div class="container-lg py-4">
			<div class="row justify-content-center">
				<div class="col-lg-8 ">
					<div class="section-title text-center">
						<h2 class="fw-bold mb-5">A propos</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="about-text">
						<h3 class="fs-4 mb-3">Grâce au framework Symfony je peux vous apporter et personnaliser de nouvelles fonctionnalités dans votre métier en respectant les critères de sécurité et de fiabilité. Ce qui impliquera de moindres coûts de maintenance.
						</h3>

						<p class="text-muted">Vous aurez aussi  l'avantage d'avoir accès à un back-office (tableau de bord) personnalisé. Ce genre d'application offre une rapidité d'affichage des pages et peut gérer des liaisons avec d'autres services.
						</p>


					</p>

				</div>
				<div class="row">
					<div class="col-lg-12 d-flex align-items-center">
						<a href="{{ asset('assets/images/CYRIL_GOURDON.pdf')}}" class="btn btn-secondary me-5 px-3">Mon CV</a>
						<div class="social-links">
							<a href="https://www.linkedin.com/in/cyril-gourdon-web-developpeur-symfony-angular/" class="text-dark me-2 fs-5">

								<i class="fab fa-linkedin-in"></i>
							</a>

							<a href=" https://www.facebook.com/atelierdu.cabriolet/" class=" text-dark ms-4 fs-5">

								<i class="fab fa-facebook-f"></i>
							</a>
							<a href="https://github.com/cyrisa02" class="text-dark ms-4">


								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>

							</a>
							<a href="https://www.youtube.com/channel/UCwx0nLuqWHxVly5v_u-ll4Q/videos"><img src="{{ asset('assets/images/youtube.svg')}}" alt="profile img" class="rounded-circle text-dark ms-4" style="max-width: 5rem;"></a>


						</div>
					</div>

				</div>

			</div>
			<div class="col-md-6">
				<div class="about-text">
					<h3>Ces applications sont responsives et respectent le concept de "Mobile First".</h3>

					<p>A l'aide d'outil comme Figma, je réalise les wireframes, zoning et mockup de mes applications en Mobile First.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- about section end -->


<!-- service section start -->
<section class="services py-5 bg-white" id="services">
	<div class="container-lg py-4">
		<div class="row justify-content-center">
			<div class="col-lg-8 ">
				<div class="section-title text-center">
					<h2 class="fw-bold mb-5">Prestations</h2>
				</div>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-6 col-lg-4 mb-4">
				<div class="service-item shadow-sm p-4 rounded bg-white">
					<div class="icon my-3 text-secondary fs-2">
						<i class="fa-solid fa-laptop-code"></i>

					</div>
					<h3 class="fs-5 py-2">Développement Web</h3>
					<p class="text-muted">Pour une meilleure maintenabilité et un bon fonctionnement des applications, j'intègre dans mes projets une série de tests automatisés (unitaires, d'intégration, système). Avec Git, vous pourrez mener des projets modernes en collaboration, en gérant les mises à jour pour vous faire gagner du temps sur le développement.
					</p>
				</p>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 mb-4">
			<div class="service-item shadow-sm p-4 rounded bg-white">
				<div class="icon my-3 text-secondary fs-2">
					<i class="fas fa-lightbulb"></i>
				</div>
				<h3 class="fs-5 py-2">AGILE/SCRUM</h3>
				<p class="text-muted">Pour mener au mieux mes projets, j'apprécie de travailler en mode AGILE/SCRUM, ce qui me permet de mieux répondre à l'attente et aux exigences de mes clients, c'est ce que j'appelle le concept de l' "amélioration continue".</p>

			</p>
		</div>
	</div>
	<div class="col-md-6 col-lg-4 mb-4">
		<div class="service-item shadow-sm p-4 rounded bg-white">
			<div class="icon my-3 text-secondary fs-2">
				<i class="fa-solid fa-laptop"></i>
			</div>
			<h3 class="fs-5 py-2">Docker et déploiement</h3>
			<p class="text-muted">Pour certains de mes projets Symfony je mets en oeuvre Docker (& docker-compose). Après avoir utilisé les services d'Heroku, je déploie mes applications sur un VPS Ionos. Je me suis intéressé à configurer EC2 d'AWS.
			</p>
		</div>
	</div>

</div></div></section><!-- service section end --><!-- Portfolio Start --><section class="portfolio bg-white py-5" id="portfolio"><div class="container-lg py-4">
<div class="row justify-content-center">
	<div class="col-lg-8 ">
		<div class="section-title text-center">
			<h2 class="fw-bold mb-5">Mes projets Symfony</h2>
			<h4>Mes projets Symfony sont accompagnés de documents techniques stockés sur le github.</h4>
		</div>
	</div>
</div>
<div class="row">

	<div class="col-md-6 col-lg-4">
		<div class="portfolio-item">
			<img src="{{ asset('assets/images/casutilisation.png')}}" class="w-100 img-thumbnail" alt="Documentation technique">

			<h3 class="text-capitalize fs-5 my-2">Documentation technique</h3>
			<p class="mb-4">
				<a href="https://github.com/cyrisa02/asdec/tree/main/documentation_technique" class="text-secondary text-decoration-none">Lien</a>

			</p>
		</div>
	</div>

	<div class="col-md-6 col-lg-4">
		<div class="portfolio-item">
			<img src="{{ asset('assets/images/youtube.png')}}" class="w-100 img-thumbnail" alt="Vidéos de fonctionnement">

			<h3 class="text-capitalize fs-5 my-2">Vidéos de fonctionnement</h3>
			<p class="mb-4">
				<a href="https://www.youtube.com/channel/UCwx0nLuqWHxVly5v_u-ll4Q/videos" class="text-secondary text-decoration-none">Lien</a>

			</p>
		</div>
	</div>


	<div class="col-md-6 col-lg-4">
		<div class="portfolio-item">
			<img src="{{ asset('assets/images/diagrammeUML.png')}}" class="w-100 img-thumbnail" alt="Diagrammes UML">

			<h3 class="text-capitalize fs-5 my-2">Diagrammes UML</h3>
			<p class="mb-4">
				<a href="https://github.com/cyrisa02/diagrammes-UML" class="text-secondary text-decoration-none">Lien</a>

			</p>
		</div>
	</div>


	<div class="col-md-6 col-lg-4">
		<div class="portfolio-item">
			<img src="{{ asset('assets/images/manuelutilisation.png')}}" class="w-100 img-thumbnail" alt="Manuel d'utilisation">

			<h3 class="text-capitalize fs-5 my-2">Manuel d'utilisation</h3>
			<p class="mb-4">
				<a href="https://github.com/cyrisa02/asdec/tree/main/d_manuel_d_utilisation" class="text-secondary text-decoration-none">Lien</a>

			</p>
		</div>
	</div>

	<div class="col-md-6 col-lg-4">
		<div class="portfolio-item">
			<img src="{{ asset('assets/images/charte.png')}}" class="w-100 img-thumbnail" alt="Charte Graphique">

			<h3 class="text-capitalize fs-5 my-2">Charte Graphique</h3>
			<p class="mb-4">
				<a href="https://github.com/cyrisa02/asdec/tree/main/d_charte_graphique" class="text-secondary text-decoration-none">Lien</a>

			</p>
		</div>
	</div>
	<div class="col-md-6 col-lg-4">
		<div class="portfolio-item">
			<img src="{{ asset('assets/images/wireframe.png')}}" class="w-100 img-thumbnail" alt="Wireframes">

			<h3 class="text-capitalize fs-5 my-2">Wireframes</h3>
			<p class="mb-4">
				<a href="https://github.com/cyrisa02/asdec/tree/main/d_charte_graphique" class="text-secondary text-decoration-none">Lien</a>

			</p>
		</div>
	</div>


</div></div></section><!-- Portfolio End --><!-- freelancer available section start --><section class="freelancer-available py-5 bg-secondary"><div class="container-lg py-4">
<div class="row justify-content-center">
	<div class="col-lg-8 text-center">
		<p class="text-light fs-5">Vous avez des projets?</p>
		<h2 class="fs-1 text-white mb-4">Je suis prêt à vous accompagner</h2>
		<a class="btn btn-outline-light" href="{{ path('app_contact_new')}}">Contactez moi</a>
	</div>
</div></div></section><!-- freelancer available section End --><!-- testimonials section Start --><section class="testimonials bg-white py-5" id="testimonials"><div class="container-lg py-4">
<div class="row justify-content-center">
	<div class="col-lg-8 ">
		<div class="section-title text-center">
			<h2 class="fw-bold mb-5">Témoignages</h2>
		</div>
	</div>
</div>
<div class="row">
	<div
		class="col-lg-8 col-xl-7">
		<!-- testi item start -->
		<div class="testi-item bg-white shadow-sm rounded p-4 mb-5">
			<div class="testi-author-info d-flex align-items-center">
				<img src="{{ asset('assets/images/michele.png')}}" class="img-thumbnail rounded-circle" alt="auteur" style="max-width: 10rem;">

				<div class="author ms-3">
					<h3 class="fs-6 mb-1">Michèle Gilles
					</h3>
					<p class="text-muted m-0">Responsable de "Au Coeur de Soi"</p>
				</div>
			</div>
			<p class="text-muted mt-3">Michèle m'a fait confiance pour la réalisation de son site vitrine que j'ai réalisé avec Wordpress.</p>
			<p class=" mt-3">Oh punaise Cyril je n'en reviens pas !!!
																																																																																																																																										Je ne m'attendais pas à quelque chose d'aussi abouti !
																																																																																																																																										J'adore !
																																																																																																																																										Le fond blanc me plaît beaucoup.
																																																																																																																																										Est ce que je peux mettre des photos perso à la place des images ?
																																																																																																																																										Wouah je suis ravie et demain matin je travaillerai toutes tes questions.
																																																																																																																																										Merci de tout cœur 🙏</p>
			<div class="rating text-secondary">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
			</div>
		</div>
		<!-- testi item end -->
		<!-- testi item start -->
		<div class="testi-item bg-white shadow-sm rounded p-4 mb-5">

			<div class="testi-author-info d-flex align-items-center">
				<img src="{{ asset('assets/images/logoasdec.png')}}" class="img-thumbnail rounded-circle" alt="auteur" style="max-width: 7rem;">

				<div class="author ms-3">
					<h3 class="fs-6 mb-1">Nicolas Faivre
					</h3>
					<p class="text-muted m-0">Trésorier de l'ASDEC</p>
				</div>
			</div>
			<p class="text-muted mt-3">Afin de faciliter la gestion de leurs membres, l'ASDEC m'a fait confiance pour leur application de gestion des ressources humaines.</p>
			<p class=" mt-3">

				Hello C'est la moindre des choses pour ce que tu fais à l'association, le webmaster 😉👍 Bonne journée</p>
			<div class="rating text-secondary">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
			</div>
		</div>
		<!-- testi item end -->


	</div>

</div></div></section><!-- testimonials section End --><!-- contact section Start --><section class="contact py-5" id="contact"><div class="container-lg py-4">
<div class="row justify-content-center">
	<div class="col-lg-8">
		<div class="section-title text-center">

			<h2 class="fw-bold mb-5">Contactez-moi</h2>
			<a href="{{ path('app_contact_new')}}" class="btn btn-secondary">Message</a>

		</div>
	</div>
</div></div></section><!-- contact section End -->{% endblock %}
