<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>

		
		
		<h3>
			{{ contact.fullname }}
			nous a écrit un message.
		</h3>
		<h3>
			Son adresse mail:
			{{ contact.email }}</h3>
            <h3>
			Son adresse mail:
			{{ contact.subject }}</h3>
		<p>
			Son message :
			{{ contact.message }}</p>

		Rédigé le :
		{{ "now"|date("d/m/Y") }}</body>
</html></p></body></html>